.ft16 {
  font-size: 16px;
}

.middle {
  display: flex;
  align-items: center;
}

.bgc {
  background-color: rgb(47, 47, 47);
}

body {
  background-color: rgb(47, 47, 47);
  width: 100%;
  text-align: center;
}

.navbar {
  margin-top: -7px;
  margin-left: -8px;
  background-color: black;
  width: 100%;
  justify-content: space-between;
  height: 50px;
  padding: 5px 0;
}

.navbar button {
  background-color: black;
  color: #fff;
  border: 0;
  position: relative;
  cursor: pointer;
  font-size: 16px;
}

.navbar span button:hover::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 1px;
  background-color: #fff;
  left: 0;
  bottom: -5px;
}

.input-area {
  height: 80%;
  margin-right: 20px;
  padding: 0px 10px 0px 10px;
}

.input-area input {
  border: 0;
}

.testbox {
  padding-top: 50px;
  width: 80%;
  margin: 0 auto;
}

.button-box {
  display: flex;
  justify-content: space-between;
}
