.middle {
  display: flex;
  align-items: center;
}

.bgc {
  background-color: rgb(47, 47, 47);
}

body {
  background-color: rgb(47, 47, 47);
  width: 100%;
  text-align: center;
}

input,
button {
  border: none;
}

input {
  width: 100%;
  margin: 0px 10px;
}

input:focus {
  outline: none;
}

select {
  border-radius: 4px;
}

.navbar {
  margin-top: -7px;
  margin-left: -8px;
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 5px 0;
}

.navbar span div button {
  font-size: 24px;
}

.navbar > span > div button {
  padding-left: 20px;
  background-color: black;
  color: #fff;
  border: 0;
  position: relative;
  cursor: pointer;
  font-size: 16px;
}

.navbar span > div button:hover::after {
  padding-left: 16px;
  content: "";
  width: 100%;
  position: absolute;
  height: 1px;
  background-color: #fff;
  left: 0;
  bottom: -5px;
}

.main-box {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 80%;
  margin: 0 auto;
}

.nav-search-box {
  width: 250px;
  margin-right: 20px;
  padding: 5px 10px 5px 10px;
  height: 40%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
}

.nav-search-box select {
  font-size: 16px;
}

.search-box {
  margin: 0 auto;
  padding: 5px 10px 5px 10px;
  width: 700px;
  height: 50px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
}

.search-box select,
.search-box input {
  font-size: 16px;
}

.notice-box {
  margin: 50px auto;
  background-color: rgb(137, 134, 134);
  width: 720px;
  height: 500px;
  display: flex;
}

.match-box {
  margin: 15px auto;
  background-color: #fff;
  width: 45%;
  height: 100%-40;
}

.news-box {
  margin: 15px auto;
  background-color: #fff;
  width: 45%;
  height: 100%-40;
}
