.navbar-border-box-ranking {
  padding-left: 50%;
  width: 50%;
  position: absolute;
  height: 1px;
  background-color: #fff;
  left: 0px;
  bottom: -5px;
}

.pro-ranking {
  width: 700%;
  height: 350%;
  margin-top: 30px;
  background-color: #777171;
  border-radius: 4px;
  position: absolute;
  left: 350%;
}

.celeb-ranking {
  width: 1500%;
  height: 350%;
  margin-top: 30px;
  background-color: #777171;
  border-radius: 4px;
  position: absolute;
  left: 1000%;
}

.recommend-ranking {
  width: 700%;
  height: 350%;
  margin-top: 30px;
  background-color: #777171;
  border-radius: 4px;
  position: absolute;
  left: 2200%;
}
