.navbar-border-box-statistics {
  padding-left: 50%;
  width: 50%;
  position: absolute;
  height: 1px;
  background-color: #fff;
  left: 0px;
  bottom: -5px;
}

.main-title {
  font-size: 30px;
  position: absolute;
  left: 55px;
}

.champions-button {
  background-color: #777171;
  font-size: 1rem;
  font-weight: 200;
  text-align: center;
  text-decoration: none;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  padding: 4px;
  position: absolute;
  left: 3.6%;
  top: 18%;
  display: inline;
  width: 200px;
}

.tier-button {
  background-color: #3d3636;
  font-size: 1rem;
  font-weight: 200;
  text-align: center;
  text-decoration: none;
  width: 100px;
  height: 42.8Spx;
  border-radius: 5px;
  padding: 4px;
  position: absolute;
  left: 19%;
  top: 18%;
  display: inline;
  width: 200px;
}

.button-box {
  background-color: #777171;
  height: 19%;
  width: 83%;
  margin-left: 50px;
  position: absolute;
  top: 150px;
  margin-top: 50px;
  border-radius: 5px;
}

.button-box-title {
  font-size: 20px;
  text-align: left;
}

.stastistics-box {
  background-color: #777171;
  height: 42%;
  width: 83%;
  margin-left: 50px;
  position: absolute;
  top: 43%;
  margin-top: 50px;
  border-radius: 5px;
}

.stastistics-box-title {
  font-size: 25px;
  word-spacing: 60px;
}
