ul {
  list-style: none;
  justify-content: space-evenly;
}

.txt-blue {
  color: rgb(96, 96, 240);
}

.txt-red {
  color: rgb(255, 26, 26);
}

/* 큰 틀 너비 */
.champions-basic-info,
.champions-details-main,
.champions-items-build {
  width: 900px;
}

/* 챔피언 기본 정보 */
.champions-basic-info {
  background-color: rgb(90, 90, 90);
  margin: 30px auto;
  padding: 5px;
  height: 300px;
}

/* 챔피언 최소 정보 박스 */
.champions-least-info {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  padding: 0px 11px;
  display: flex;
  justify-content: space-between;
}

.champions-least-info-left {
  display: flex;
}

/* 챔피언 이미지 옆 이름, 스킬 박스 */
.skill-name-box {
  padding: 15px 0;
  text-align: left;
  width: 150px;
  height: 100%;
  box-sizing: border-box;
}

/* 챔피언 기본 스킬 */
.champions-basic-skill img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

/* 승률, 픽률, 밴률 테이블 */
.champions-least-info-right {
  width: 80px;
  height: 90%;
  margin-right: 5px;
  font-size: 14px;
}

.champions-least-info-right tr td:nth-child(2) {
  font-size: 16px;
  font-weight: 900;
}

/* 챔피언 카운터 */
.champions-counter {
  padding: 0px 6.5px;
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: space-evenly;
}

.champions-counter .counter {
  padding: 10px;
  width: 45%;
  height: 100%;
  color: #fff;
  box-sizing: border-box;
}

.counter-text {
  font-size: 16px;
  margin: 10px;
  font-weight: 700;
}

.rate-2 {
  background-color: rgb(90, 90, 90);
  width: 5%;
  height: 100%;
  font-size: 12px;
  font-weight: 700;
}

.win-champions {
  background-color: rgb(49, 49, 79);
  color: rgb(96, 96, 240);
}

.lose-champions {
  background-color: rgb(108, 65, 65);
}

.champions-list {
  width: 80%;
  height: 30%;
}

.champions-list img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: block;
  margin: 7px auto;
}

.champions-list span {
  width: 70px;
  height: 130px;
  font-size: 10px;
  color: #fff;
  overflow: hidden;
  text-align: center;
}

.champions-list li {
  display: inline-flex;
}

.counter-name {
  margin: 10px 0px;
}

.counter-rate {
  font-size: 14px;
  font-weight: 700;
}
