.flex {
  display: flex;
}

a {
  text-decoration: none;
  color: #000000;
}

/* 상단 선택박스 - 소환사협곡, 칼바람나락, (나라, 티어, 시즌) 선택 */
.select-box {
  margin: 0px auto;
  padding: 0px 20px;
  background-color: rgb(160, 160, 160);
  width: 1000px;
  height: 60px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}

.select-box button {
  background-color: rgb(160, 160, 160);
  font-size: 16px;
  margin-right: -5px;
}
.select-box select {
  background-color: rgb(160, 160, 160);
  color: #fff;
  font-size: 16px;
  margin-right: 10px;
}

/* 소환사의 협곡 창 - 챔피언 분석 */
.champions {
  margin: 30px auto;
  padding: 0px 5px;
  background-color: rgb(160, 160, 160);
  width: 1000px;
  height: 800px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  border-radius: 4px;
}

/* 중간 (양쪽 공통) 흰 상자 */
.info-frame {
  text-align: left;
  padding: 15px 15px;
  margin: 13px 8px;
  background-color: #fff;
  border-radius: 4px;
  box-sizing: border-box;
}

/* 왼쪽 흰색 상자 */
.left-info {
  width: 35%;
  height: 100%;
}

/* 오른쪽 흰색 상자 */
.right-info {
  width: 65%;
  height: 96%;
}

/*시작 왼쪽 상자 (챔피언 종류) */
.champions-search {
  width: 100%;
  height: 30px;
  margin: 5px 0px;
}

.champions-search input {
  font-size: 16px;
}

.champions-frame {
  padding-top: 5px;
  padding-bottom: 10px;
}

.champions-list {
  list-style: none;
  padding-left: 0px;
}

.champions-list img {
  width: 48px;
  height: 48px;
}

.champions-list a {
  width: 48px;
  height: 70px;
  font-size: 12px;
  color: rgb(81, 81, 81);
  overflow: hidden;
  text-align: center;
}

.champions-list span {
  width: 48px;
  display: flex;
  margin: 0px 3px;
}

.champions-list li {
  display: inline-flex;
}

/* 테이블 전체 크기 */
.champions-table {
  width: 100%;
  font-size: 12px;
}

/* 챔피언 이미지 크기 */
.champions-table tbody img,
.champions-table tbody span {
  width: 26px;
  height: 26px;
  border-radius: 4px;
  vertical-align: middle;
  margin-right: 5px;
}
/* 왼쪽 상자 (챔피언 종류) 끝*/

/*시작 오른쪽 상자 (챔피언 분석) */
.line-box {
  width: 100%;
  height: 50px;
  background-color: rgb(160, 160, 160);
  justify-content: space-evenly;
  border-radius: 4px;
  margin-bottom: 20px;
}

.line-box button {
  background-color: #fff;
  margin: auto 0px;
  width: 100px;
  height: 80%;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.select-line {
  background-color: rgb(249, 139, 55);
  margin: auto 0px;
  width: 100px;
  height: 80%;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  cursor: none;
}

.const-navbar {
  background-color: rgb(160, 160, 160);
  border-radius: 4px;
  font-size: 14px;
}
/* 오른쪽 상자 (챔피언 분석) 끝*/
